@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 47% 11%;
    
    --card: 210 20% 97%;
    --card-foreground: 222 47% 11%;
    
    --primary: 145 11% 25%;
    --primary-foreground: 0 0% 100%;
    
    --secondary: 145 11% 25%;
    --secondary-foreground: 0 0% 100%;
    
    --accent: 20 100% 54%;
    --accent-foreground: 0 0% 100%;
    
    --muted: 220 13% 91%;
    --muted-foreground: 220 9% 46%;
    
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 145 11% 25%;
    
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

